
.shared {
    position: relative;
    isolation: isolate;
    /* Setup a relative container for our psuedo elements */
    max-width: min(455px, 100%);
    min-width: 0;
    flex-shrink: 0;
    margin-bottom: 15px;
    padding: 6px 14px;
    line-height: 24px;
    overflow-wrap: anywhere;
    /* Make sure the text wraps to multiple lines if long */
    border-radius: 30px;

    &:before {
        width: 20px;
    }

    &:after {
        width: 26px;
        background-color: transparent;
    }

    &:before,
    &:after {
        position: absolute;
        z-index: -1;
        bottom: -5px;
        height: 30px;
        /* height of our bubble "tail" - should match the border-radius above */
        content: '';
    }
}

.sent {
    align-self: flex-end;
    color: black;
    background: oklch(95.4% 0.038 75.164);

    &:before {
        right: 0;
        background-color: oklch(95.4% 0.038 75.164);

        border-bottom-left-radius: 16px 14px;
    }

    &:after {
        position: absolute;
        right: 0;
        border-bottom-left-radius: 10px;
        background-color: oklch(70.8% 0 0 / 0);
    }
}

.received {
    padding: 10px 20px;
    align-self: flex-start;
    color: black;
    background: #fff;

    &:before {
        left: 0;
        background-color: #fff;
        border-bottom-right-radius: 16px 14px;
    }

    &:after {
        left: 0;
        border-bottom-right-radius: 10px;
        background-color: oklch(70.8% 0 0 / 0);
    }
}

@media (max-width: 600px) {
    .shared {
        padding: 6px 8px;
        border-radius: 24px;
    }

    .received {
        padding: 10px 12px;
    }
}
