@import "tailwindcss";
@import "@tailwindcss/postcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background: url("./assets//mahjong-background.png") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

h1:before,
h1:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid black;
  margin: auto;
}

h1:before {
  margin-right: 10px;
}

h1:after {
  margin-left: 10px;
}